@import url(./fonts/fonts.css);
@import url(./blocks/main.css);
@import url(./blocks/header.css);
@import url(./blocks/title.css);
@import url(./blocks/logo.css);
@import url(./blocks/button-menu.css);
@import url(./blocks/button-menu-esc.css);
@import url(./blocks/menu-image.css);
@import url(./blocks/social-title.css);
@import url(./blocks/social-links.css);
@import url(./blocks/social-title-nav.css);
@import url(./blocks/link.css);
@import url(./blocks/link-nav.css);
@import url(./blocks/link-image.css);
@import url(./blocks/footer.css);
@import url(./blocks/footer-autor.css);
@import url(./blocks/body.css);
@import url(./blocks/map.css);
@import url(./blocks/navigation.css);
@import url(./blocks/description.css);
@import url(./blocks/description__title.css);
@import url(./blocks/description__text.css);
@import url(./blocks/description__img.css);
@import url(./blocks/instruct.css);
@import url(./blocks/filter.css);
@import url(./blocks/filter_image.css);
@import url(./blocks/filter_title.css);

@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: 10px;
  }
}

