.description {
    margin: 0;
    display: grid;
    align-self: center;
    font-family: 'LeagueSpartan';
    grid-template-areas:
        'title title'
        'text1 text1'
        'text2 text2';
}

@media screen and (min-width: 1280px) {
    .description {
        grid-template-columns: 550px 400px;
        gap: 40px 140px;
        font-family: 'LeagueSpartan', sans-serif;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .description {
        grid-template-columns: 550px 400px;
        gap: 40px 20px;
        font-family: sans-serif;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .description {
        grid-template-columns: 290px 400px;
        gap: 15px 15px;
        font-family: sans-serif;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .description {
        grid-template-columns: 300px;
        gap: 5px 5px;
        font-family: sans-serif;
        justify-items: center;
    }
}