.instruction__text {
    margin: 0;
    grid-area: text1;
    margin-bottom: 20px;
    justify-content: center;
}

.instruction__text:nth-child(4) {
    grid-area: text2;
}

.instruction__text:nth-child(6) {
    grid-area: text3;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .instruction__text {
        text-align: left;
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .instruction__text {
        text-align: left;
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .instruction__text {
        text-align:left;
        font-size: 14px;
        margin-top: 15px;
    }
}