.map {
    display: grid;
    grid-template-areas:
    'maps';
    height: 83vh;
}

.map-road {
    grid-area: maps;
    margin: 0;
    border-bottom: 2px solid rgb(95, 95, 95, 0.5);
    visibility:visible;
}

.map-river {
    grid-area: maps;
    margin: 0;
    border-bottom: 2px solid rgb(95, 95, 95, 0.5);
    visibility: hidden;
}

.map-people {
    grid-area: maps;
    margin: 0;
    border-bottom: 2px solid rgb(95, 95, 95, 0.5);
    visibility: hidden;
}

.map-city {
    grid-area: maps;
    margin: 0;
    border-bottom: 2px solid rgb(95, 95, 95, 0.5);
    visibility: hidden;
}
